<div class="card">
  <div class="card-body">
    <div class="mr-2 py-3 text-center">
      <img class="rounded w-100" [src]="item.strMealThumb" style="width: 150px !important;">
    </div>
    <div (click)="openView()" class="h5">{{item.strMeal}}</div>
    <div class="h7 text-muted">Categoria : {{item.strCategory}}</div>
    <div class="h7 text-muted">
      Area: {{item.strArea}}
    </div>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="h6 text-muted">Tags</div>
      <div class="h5">
        <mat-chip-list aria-label="Fish selection">
          <ng-container *ngFor="let tag of tags">
            <mat-chip>{{tag}}</mat-chip>
          </ng-container>

        </mat-chip-list>
      </div>
    </li>

  </ul>
</div>
