<nav class="navbar navbar-expand-sm navbar-light" style="background-color: #FFAC33">
  <div class="container-fluid ">
    <a class="navbar-brand " href="#"> <mat-icon class="example-tab-icon mr-2">restaurant</mat-icon> A la carta</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onLogout()" href="#">Salir</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>



