<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row pt-5">
        <div class="col-md-8 mx-auto">
          <div class="card-group pt-5">
            <div class="card p-4">
              <div class="card-body">
                <form>
                  <h3><strong>HOLA</strong></h3>
                  <h5>Introduce tu cuenta para acceder al sistema:</h5>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><mat-icon aria-hidden="false" aria-label="Example home icon">person</mat-icon></span>
                    </div>
                    <input type="text" class="form-control" name="user"
                           placeholder="Usuario" [(ngModel)]="username"
                           required>
                  </div>
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><mat-icon aria-hidden="false" aria-label="Example home icon">password</mat-icon></span>
                    </div>
                    <input [(ngModel)]="password" type="password" class="form-control" name="pass" placeholder="Contraseña" autocomplete="current-password" required>
                  </div>
                  <div class="row mb-3">
                    <div class="col-md-12">
                      <mat-checkbox class="example-margin">Recordar sesión</mat-checkbox>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <button (click)="onLogin()" type="button"  class="btn bg_button px-4">Entrar al sistema</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="card text-white py-5 d-md-down-none" style="width:44%;background-color: #FFAC33">
              <div class="card-body text-center">
                <div>
                  <h2>A LA CARTA</h2>
                  <h3 class="txt-justify">
                    Somos una base de datos abierta de recetas de todo el mundo
                  </h3>
                  <h4> Busca las recetas de tus favoritos</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
