<div class="container-fluid gedf-wrapper mt-3">
  <div class="row">
    <div class="col-md-12">
      <app-meat (onSelect)="onSelectMeal()" *ngIf="randomItem" [item]="randomItem"></app-meat>
    </div>
  </div>
</div>
